openapi: 3.0.3
info:
  title: Torr9 API (reverse-engineered)
  version: 1.0.0
  description: |
    Spec OpenAPI reconstruite à partir des chunks JS (`/_next/static/chunks/`) et
    de captures réseau. Méthodes HTTP inférées par convention quand non observées.
    Champs réponse confirmés via fetch live pour `/auth/login` et `/torrents/exclus`.

    ## ⚠️ Try it out — extension nécessaire

    L'API `api.torr9.net` n'autorise que `Origin: https://torr9.net` en CORS.
    Les requêtes envoyées depuis cette page (github.io ou localhost) sont **bloquées par le navigateur**.

    Pour tester en live depuis ici, installe une extension de désactivation CORS:

    - **Firefox dédié (recommandé)** — [Torr9 CORS Unlock (.xpi signé)](https://github.com/Hoax017/torr9-api-docs/releases/latest)
        1. Télécharge `torr9-cors-unlock.xpi` depuis la release
        2. Ouvre Firefox → glisse-dépose le .xpi sur l'onglet `about:addons` (ou clique le `.xpi` dans Firefox direct)
        3. Confirme l'install
        4. Reste active jusqu'à suppression manuelle
    - **Chrome / Edge / Brave dédié** — [Torr9 CORS Unlock (.zip)](https://github.com/Hoax017/torr9-api-docs/releases/latest)
        1. Télécharge le `.zip` depuis la release et dezip
        2. `chrome://extensions/` → toggle **"Mode développeur"**
        3. **"Charger l'extension non empaquetée"** → sélectionne le dossier dezippé
        4. Reste active jusqu'à suppression manuelle
    - Chrome générique: [CORS Unblock](https://chrome.google.com/webstore/detail/cors-unblock/lfhmikememgdcahcdlaciloancbhjino)
    - Firefox générique: [CORS Everywhere](https://addons.mozilla.org/firefox/addon/cors-everywhere/) (ne gère pas toujours les preflights)

    Active l'extension uniquement le temps des tests, puis désactive-la (sécurité).
    Alternative: appelle l'API en `curl` ou Node avec ton token.
servers:
  - url: https://api.torr9.net
    description: Prod
  - url: https://api.torr9.xyz
    description: Dev/Staging
security:
  - bearerAuth: []

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      properties:
        error: { type: string }
    LoginRequest:
      type: object
      required: [username, password]
      properties:
        username: { type: string }
        password: { type: string, format: password }
        remember_me: { type: boolean, default: true }
    LoginResponse:
      type: object
      properties:
        token: { type: string, description: 'JWT HS256, ~30j' }
        user: { $ref: '#/components/schemas/User' }
    User:
      type: object
      properties:
        id: { type: integer }
        username: { type: string }
        email: { type: string, format: email }
        role: { type: string, enum: [user, userplus, vip, admin] }
        avatar_url: { type: string }
        passkey: { type: string }
        uploaded: { type: integer, format: int64 }
        downloaded: { type: integer, format: int64 }
        total_uploaded_bytes: { type: integer, format: int64 }
        total_downloaded_bytes: { type: integer, format: int64 }
        bonus_uploaded: { type: integer }
        bonus_downloaded: { type: integer }
        want_porn: { type: boolean }
        hide_ratio: { type: boolean }
        citation: { type: string }
        jeton_balance: { type: integer }
    Torrent:
      type: object
      properties:
        id: { type: integer }
        title: { type: string }
        description: { type: string, description: BBCode, nullable: true }
        info_hash: { type: string, nullable: true }
        file_size_bytes: { type: integer, format: int64 }
        file_count: { type: integer, nullable: true }
        upload_date: { type: string, format: date-time }
        created_at: { type: string, format: date-time, nullable: true }
        age: { type: string, description: 'humanisé (ex 19 minutes, 1 heure)', nullable: true }
        is_freeleech: { type: boolean }
        is_exclu: { type: boolean, nullable: true }
        status: { type: string, nullable: true }
        note_admin: { type: string, nullable: true }
        tags: { type: array, items: { type: string } }
        category_name: { type: string }
        category_icon: { type: string, nullable: true }
        parent_category_name: { type: string }
        uploader_name: { type: string }
        seeders: { type: integer }
        leechers: { type: integer }
        times_completed: { type: integer }
        comment_count: { type: integer }
        tmdb_id: { type: integer, nullable: true }
        tvdb_id: { type: integer, nullable: true }
        imdb_id: { type: string, nullable: true }
        poster_url: { type: string, nullable: true }
        tmdb_overview: { type: string, nullable: true }
        team_name: { type: string, nullable: true }
        team_slug: { type: string, nullable: true }
        team_logo_url: { type: string, nullable: true }
    TorrentList:
      type: object
      properties:
        count: { type: integer }
        torrents:
          type: array
          items: { $ref: '#/components/schemas/Torrent' }
    TorrentListPaginated:
      type: object
      properties:
        count: { type: integer, description: 'taille page actuelle' }
        limit: { type: integer }
        page: { type: integer }
        total_count: { type: integer, description: 'total éléments' }
        total_pages: { type: integer }
        torrents:
          type: array
          items: { $ref: '#/components/schemas/Torrent' }
    TorrentSearchFilters:
      type: object
      properties:
        category: { type: string }
        max_age_days: { type: string }
        search_in: { type: string, enum: [title, description] }
        tag: { type: string }
        uploader: { type: string }
    TorrentSearchResult:
      type: object
      properties:
        count: { type: integer }
        current_page: { type: integer }
        limit: { type: integer }
        query: { type: string }
        filters: { $ref: '#/components/schemas/TorrentSearchFilters' }
        total_count: { type: integer }
        total_pages: { type: integer }
        torrents:
          type: array
          items: { $ref: '#/components/schemas/Torrent' }
    UploadTorrentForm:
      type: object
      required: [torrent_file, title, category, subcategory, tags]
      properties:
        torrent_file: { type: string, format: binary }
        title: { type: string }
        description: { type: string, description: BBCode }
        nfo: { type: string, format: binary, description: Optional .nfo file }
        category: { type: string }
        subcategory: { type: string }
        tags: { type: string, description: 'Comma-separated' }
        is_exclusive: { type: string, enum: ['true', 'false'] }
        is_anonymous: { type: string, enum: ['true', 'false'] }
        tmdb_id: { type: string }
        imdb_id: { type: string }
        tvdb_id: { type: string }
        mal_id: { type: string }
        igdb_id: { type: string }
        mangadex_id: { type: string }
    UploadTorrentResponse:
      type: object
      properties:
        torrent_id: { type: integer }
        download_url: { type: string, description: Path à concaténer avec baseURL }
    ParseMetadataResponse:
      type: object
      properties:
        release_name: { type: string }
        size_bytes: { type: integer, format: int64 }
        file_count: { type: integer }
    ChatBanRequest:
      type: object
      required: [username]
      properties:
        username: { type: string }
        duration: { type: integer, nullable: true, description: 'Secondes; null = perma' }
    RequestsCreate:
      type: object
      required: [title, description, bounty_amount]
      properties:
        title: { type: string }
        description: { type: string }
        bounty_amount: { type: integer, description: Jetons }
    RequestsRespond:
      type: object
      required: [torrent_id, message]
      properties:
        torrent_id: { type: integer }
        message: { type: string }
    RequestsList:
      type: object
      properties:
        requests: { type: array, items: { type: object } }
        total: { type: integer }
    PublicUser:
      type: object
      description: Profil public (pas d'email/role)
      properties:
        id: { type: integer }
        username: { type: string }
        avatar_url: { type: string }
        total_uploaded_bytes: { type: integer, format: int64 }
        total_downloaded_bytes: { type: integer, format: int64 }
        bonus_uploaded: { type: integer, format: int64 }
        bonus_downloaded: { type: integer, format: int64 }
        created_at: { type: string, format: date-time }
    ChatChannel:
      type: object
      properties:
        id: { type: integer }
        name: { type: string }
        slug: { type: string }
        description: { type: string }
        type: { type: string, enum: [public, private, restricted] }
        icon: { type: string }
        sort_order: { type: integer }
        created_at: { type: string, format: date-time }
    ChatMessage:
      type: object
      properties:
        id: { type: integer }
        channel_id: { type: integer }
        user_id: { type: integer }
        content: { type: string }
        reply_to_id: { type: integer, nullable: true }
        created_at: { type: string, format: date-time }
        username: { type: string }
        avatar_url: { type: string }
        role: { type: string }
        reactions: { type: array, items: { type: object } }
        reply_to:
          type: object
          nullable: true
          properties:
            id: { type: integer }
            content: { type: string }
            username: { type: string }
    ChatMessages:
      type: object
      properties:
        has_more: { type: boolean }
        messages: { type: array, items: { $ref: '#/components/schemas/ChatMessage' } }
    Idea:
      type: object
      properties:
        id: { type: integer }
        user_id: { type: integer }
        username: { type: string }
        content: { type: string }
        vote_count: { type: integer }
        upvotes: { type: integer }
        downvotes: { type: integer }
        has_voted: { type: boolean }
        user_vote: { type: integer, description: '-1, 0, 1' }
        created_at: { type: string, format: date-time }
    LeaderboardEntry:
      type: object
      properties:
        rank: { type: integer }
        user_id: { type: integer }
        username: { type: string }
        avatar_url: { type: string }
        role: { type: string }
        torrents_uploaded: { type: integer }
        total_uploaded_bytes: { type: integer, format: int64 }
        jeton_balance: { type: integer }
        composite_score: { type: number, format: float }
    SiteStats:
      type: object
      properties:
        active_torrents: { type: integer }
        pending_torrents: { type: integer }
        sw_torrents: { type: integer, description: 'ShareWood torrents' }
        total_data_exchanged: { type: integer, format: int64 }
        crossseed_data_exchanged: { type: integer, format: int64 }
        total_peers: { type: integer }
        users: { type: integer }
    NotificationsCount:
      type: object
      properties: { unread: { type: integer } }
    Announcement:
      type: object
      properties:
        enabled: { type: boolean }
        message: { type: string, description: HTML }
    PoolDonor:
      type: object
      properties:
        username: { type: string }
        amount: { type: integer }
    PoolStatus:
      type: object
      properties:
        pool:
          type: object
          properties:
            id: { type: integer }
            goal_amount: { type: integer }
            current_amount: { type: integer }
            status: { type: string, enum: [active, completed, closed] }
            created_at: { type: string, format: date-time }
        top_donors:
          type: array
          items: { $ref: '#/components/schemas/PoolDonor' }
    AuctionSlot:
      type: object
      properties:
        slot_type: { type: string, enum: [uploader, userplus] }
        total_slots: { type: integer }
        occupied_slots: { type: integer }
        active_bids: { type: array, items: { type: object } }
        pending_bids: { type: array, items: { type: object } }
    AuctionState:
      type: object
      properties:
        uploader_slots: { $ref: '#/components/schemas/AuctionSlot' }
        userplus_slots: { $ref: '#/components/schemas/AuctionSlot' }
        min_bid_amount: { type: integer }
    EarnRule:
      type: object
      properties:
        action: { type: string }
        description: { type: string }
        amount: { type: string }
        icon: { type: string }
    JetonsMilestone:
      type: object
      properties:
        count: { type: integer }
        reward: { type: integer }
        reached: { type: boolean }
        label: { type: string }
    JetonsOverview:
      type: object
      properties:
        balance: { type: integer }
        earn_rules: { type: array, items: { $ref: '#/components/schemas/EarnRule' } }
        milestones: { type: array, items: { $ref: '#/components/schemas/JetonsMilestone' } }
        total_earned: { type: integer }
        total_spent: { type: integer }
        upload_count: { type: integer }
    JetonsShopItem:
      type: object
      properties:
        id: { type: integer }
        slug: { type: string }
        name: { type: string }
        description: { type: string }
        price: { type: integer }
        category: { type: string }
        effect_type: { type: string }
        effect_value: { type: integer, format: int64 }
        is_active: { type: boolean }
        sort_order: { type: integer }
        max_purchases: { type: integer }
        user_purchase_count: { type: integer }
    JetonsShop:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/JetonsShopItem' } }
        shop_enabled: { type: boolean }
    JetonsHistory:
      type: object
      properties:
        page: { type: integer }
        per_page: { type: integer }
        total: { type: integer }
        transactions: { type: array, items: { type: object } }
    FeaturedItem:
      type: object
      properties:
        id: { type: integer }
        type: { type: string, enum: [movie, tv] }
        tmdb_id: { type: integer }
        torrent_id: { type: integer }
        display_order: { type: integer }
        is_active: { type: boolean }
        poster_url: { type: string }
        title: { type: string }
    FeaturedList:
      type: object
      properties:
        items: { type: array, items: { $ref: '#/components/schemas/FeaturedItem' } }
    InvitationCodes:
      type: object
      properties:
        codes: { type: array, items: { type: object } }
        remaining: { type: integer }
    CommentList:
      type: object
      properties:
        comments: { type: array, items: { type: object }, nullable: true }
        count: { type: integer }
    UnreadCounts:
      type: object
      properties:
        channels: { type: object, additionalProperties: { type: integer } }
        conversations: { type: object, additionalProperties: { type: integer } }
        total_unread: { type: integer }
    FAQ:
      type: object
      properties:
        categories:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              items:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    question: { type: string }
                    answer: { type: string }
    Rules:
      type: object
      properties:
        categories:
          type: array
          items:
            type: object
            properties:
              name: { type: string }
              items:
                type: array
                items:
                  type: object
                  properties:
                    id: { type: integer }
                    title: { type: string }
                    content: { type: string }
    SponsoredTorrentsList:
      type: object
      properties:
        torrents: { type: array, items: { type: object } }
    EmotesList:
      type: object
      properties:
        emotes: { type: array, items: { type: object } }
    PollsList:
      type: object
      properties:
        polls: { type: array, items: { type: object }, nullable: true }
    RssKey:
      type: object
      properties:
        rss_key: { type: string }

paths:
  # ===== AUTH =====
  /api/v1/auth/login:
    post:
      tags: [auth]
      summary: Login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/LoginRequest' }
      responses:
        '200':
          description: Token + user
          content:
            application/json:
              schema: { $ref: '#/components/schemas/LoginResponse' }
        '401': { description: Bad creds, content: { application/json: { schema: { $ref: '#/components/schemas/Error' } } } }
        '403':
          description: Banned
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/Error'
                  - type: object
                    properties:
                      ban_reason: { type: string }
  /api/v1/auth/register:
    post:
      tags: [auth]
      summary: Register
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username, email, password, invitation_code]
              properties:
                username: { type: string }
                email: { type: string, format: email }
                password: { type: string, format: password }
                invitation_code: { type: string }
                captcha_token: { type: string }
      responses:
        '201': { description: Created }
  /api/v1/auth/refresh:
    post:
      tags: [auth]
      summary: Refresh JWT (pas de body, juste Bearer)
      responses:
        '200':
          description: New token
          content:
            application/json:
              schema:
                type: object
                properties:
                  token: { type: string }
                  message: { type: string }
  /api/v1/auth/forgot-password:
    post:
      tags: [auth]
      summary: Demande reset
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email]
              properties:
                email: { type: string, format: email }
      responses: { '200': { description: OK } }
  /api/v1/auth/reset-password:
    post:
      tags: [auth]
      summary: Reset password (token reçu par email)
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token, password]
              properties:
                token: { type: string }
                password: { type: string, format: password }
      responses: { '200': { description: OK } }
  /api/v1/auth/discourse/connect:
    get:
      tags: [auth]
      summary: SSO Discourse (GET retourne 404, probablement POST)
      responses:
        '404': { description: 'Probably wrong method (try POST)' }

  # ===== USERS =====
  /api/v1/users/me:
    get: { tags: [users], summary: Profil courant, responses: { '200': { description: User, content: { application/json: { schema: { $ref: '#/components/schemas/User' } } } } } }
  /api/v1/users/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    get:
      tags: [users]
      summary: Profil public
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PublicUser' }
  /api/v1/users/{id}/avatar:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [users], summary: Upload avatar, requestBody: { content: { multipart/form-data: { schema: { type: object, properties: { file: { type: string, format: binary } } } } } }, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/email:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    patch: { tags: [users], summary: Change email, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/password:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    patch: { tags: [users], summary: Change mdp, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/want-porn:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    patch: { tags: [users], summary: Toggle want_porn, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/hide-ratio:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    patch: { tags: [users], summary: Toggle hide_ratio, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/citation:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    patch: { tags: [users], summary: Set citation, responses: { '200': { description: OK } } }
  /api/v1/users/{id}/regenerate-passkey:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [users], summary: Régénère passkey, responses: { '200': { description: OK } } }

  # ===== TORRENTS =====
  /api/v1/torrents:
    get:
      tags: [torrents]
      summary: List torrents
      parameters:
        - { name: page, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        '200': { description: Liste, content: { application/json: { schema: { $ref: '#/components/schemas/TorrentList' } } } }
  /api/v1/torrents/recent:
    get:
      tags: [torrents]
      summary: Récents (paginé)
      parameters:
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 15 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TorrentListPaginated' }
  /api/v1/torrents/exclus:
    get:
      tags: [torrents]
      summary: Exclusivités (releases internes), fenêtre N jours
      parameters:
        - { name: days, in: query, schema: { type: integer, default: 14 }, description: 'Attention 524 si >2j sur origin lent' }
      responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/TorrentList' } } } } }
  /api/v1/torrents/search:
    get:
      tags: [torrents]
      summary: Search (paginé + filtres)
      parameters:
        - { name: q, in: query, required: true, schema: { type: string } }
        - { name: search_in, in: query, schema: { type: string, enum: [title, description] } }
        - { name: category, in: query, schema: { type: string } }
        - { name: tag, in: query, schema: { type: string } }
        - { name: uploader, in: query, schema: { type: string } }
        - { name: max_age_days, in: query, schema: { type: integer } }
        - { name: sort_by, in: query, schema: { type: string, enum: [created_at, seeders, size] } }
        - { name: page, in: query, schema: { type: integer, default: 1 } }
        - { name: limit, in: query, schema: { type: integer, default: 25 } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/TorrentSearchResult' }
  /api/v1/torrents/upload:
    post:
      tags: [torrents]
      summary: Upload .torrent
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema: { $ref: '#/components/schemas/UploadTorrentForm' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UploadTorrentResponse' }
  /api/v1/torrents/parse-metadata:
    post:
      tags: [torrents]
      summary: Parse fichier .torrent (avant upload final)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [torrent_file]
              properties:
                torrent_file: { type: string, format: binary }
      responses:
        '200':
          description: Metadata extraite
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ParseMetadataResponse' }
  /api/v1/torrents/check-duplicate:
    post:
      tags: [torrents]
      summary: Vérifie doublon par titre
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title]
              properties:
                title: { type: string }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  has_duplicates: { type: boolean }
                  duplicates: { type: array, items: { type: object } }
  /api/v1/torrents/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    get: { tags: [torrents], summary: Détail, responses: { '200': { description: OK, content: { application/json: { schema: { $ref: '#/components/schemas/Torrent' } } } } } }
  /api/v1/torrents/{id}/download:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    get:
      tags: [torrents]
      summary: Télécharge fichier .torrent
      responses:
        '200':
          description: Bytes
          content:
            application/x-bittorrent:
              schema: { type: string, format: binary }
  /api/v1/torrents/{id}/comments:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    get:
      tags: [torrents]
      summary: Liste comments
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/CommentList' }
    post: { tags: [torrents], summary: Poste comment, responses: { '200': { description: OK } } }

  # ===== RSS =====
  /api/v1/rss/key:
    get:
      tags: [rss]
      summary: Récup passkey RSS
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RssKey' }
  /api/v1/rss/recent:
    get:
      tags: [rss]
      summary: Flux RSS récent
      security: []
      parameters:
        - { name: passkey, in: query, required: true, schema: { type: string } }
        - { name: limit, in: query, schema: { type: integer } }
      responses: { '200': { description: RSS XML } }
  /api/v1/rss/{category}:
    parameters:
      - { name: category, in: path, required: true, schema: { type: string } }
    get:
      tags: [rss]
      security: []
      parameters:
        - { name: passkey, in: query, required: true, schema: { type: string } }
      responses: { '200': { description: RSS XML } }

  # ===== INVITATIONS =====
  /api/v1/invitation-codes/user:
    get:
      tags: [invitations]
      summary: Codes user
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvitationCodes' }

  # ===== FEATURED =====
  /api/v1/featured:
    get:
      tags: [featured, admin]
      summary: All featured (admin only — 'Admin access required' sinon)
      responses:
        '200': { description: OK }
        '403': { description: Admin access required }
    post:
      tags: [featured, admin]
      summary: Create featured (admin only — 'Admin access required' sinon)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: 'Schéma exact non observé (admin-gated). Probable: { type: movie|tv, tmdb_id, ... }'
      responses: { '200': { description: OK } }
  /api/v1/featured/movies:
    get:
      tags: [featured]
      summary: Films mis en avant (public)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeaturedList' }
  /api/v1/featured/series:
    get:
      tags: [featured]
      summary: Séries mises en avant (public)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FeaturedList' }
  /api/v1/featured/top-torrents:
    get:
      tags: [featured, admin]
      summary: Top torrents (admin only)
      responses:
        '200': { description: OK }
        '403': { description: Admin access required }
  /api/v1/featured/search:
    get:
      tags: [featured, admin]
      summary: Recherche TMDB pour featured (admin only)
      parameters:
        - { name: query, in: query, required: true, schema: { type: string } }
        - { name: type, in: query, schema: { type: string, enum: [movie, tv] } }
      responses:
        '200': { description: OK }
        '403': { description: Admin access required }
  /api/v1/featured/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    delete: { tags: [featured], summary: Delete (admin), responses: { '200': { description: OK } } }

  # ===== IDEAS =====
  /api/v1/ideas:
    get:
      tags: [ideas]
      summary: List ideas
      responses:
        '200':
          description: Liste triée par votes
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Idea' }
    post:
      tags: [ideas]
      summary: Create idea
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string, minLength: 3 }
      responses:
        '200':
          description: Idea créée
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: integer }
                  user_id: { type: integer }
                  username: { type: string }
                  content: { type: string }
                  vote_count: { type: integer }
                  upvotes: { type: integer }
                  downvotes: { type: integer }
                  has_voted: { type: boolean }
                  user_vote: { type: integer }
                  created_at: { type: string, format: date-time }
    delete:
      tags: [ideas]
      summary: Delete idea (body JSON requis — non-standard)
      description: '⚠️ L''API attend un body JSON sur DELETE (non-standard OpenAPI). Swagger UI strict refuse le rendu — utilise Redoc.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id]
              properties: { id: { type: integer } }
      responses: { '200': { description: 'Idée supprimée' } }
  /api/v1/ideas/{id}/vote:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post:   { tags: [ideas], summary: Upvote, responses: { '200': { description: OK } } }
    delete: { tags: [ideas], summary: Unvote, responses: { '200': { description: OK } } }

  # ===== JETONS =====
  /api/v1/jetons:
    get:
      tags: [jetons]
      summary: Overview (balance + earn rules + milestones)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonsOverview' }
  /api/v1/jetons/history:
    get:
      tags: [jetons]
      summary: Historique transactions
      parameters:
        - { name: page, in: query, schema: { type: integer } }
        - { name: limit, in: query, schema: { type: integer } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonsHistory' }
  /api/v1/jetons/shop:
    get:
      tags: [jetons]
      summary: Items du shop
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/JetonsShop' }
  /api/v1/jetons/purchase:
    post:
      tags: [jetons]
      summary: Achète item shop
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [item_slug]
              properties:
                item_slug: { type: string }
                torrent_id: { type: integer, description: Optionnel selon item }
      responses: { '200': { description: OK } }

  # ===== POOL =====
  /api/v1/pool:
    get:
      tags: [pool]
      summary: Active pool + top donateurs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PoolStatus' }
  /api/v1/pool/donate:
    post:
      tags: [pool]
      summary: Don à la pool
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount]
              properties:
                amount: { type: integer, minimum: 1 }
      responses: { '200': { description: OK } }

  # ===== SPONSOR AUCTION =====
  /api/v1/sponsor-auction/state:
    get:
      tags: [sponsor-auction]
      summary: État enchères + bids actives/pending
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/AuctionState' }
  /api/v1/sponsor-auction/bid:
    post:
      tags: [sponsor-auction]
      summary: Enchérir sur torrent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [torrent_id, bid_amount]
              properties:
                torrent_id: { type: integer }
                bid_amount: { type: integer }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: { type: string }
  /api/v1/sponsor-auction/cancel:
    post:
      tags: [sponsor-auction]
      summary: Annule enchère
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [bid_id]
              properties:
                bid_id: { type: integer }
      responses: { '200': { description: OK } }
  /api/v1/sponsored-torrents:
    get:
      tags: [sponsor-auction]
      summary: Liste sponsorisés
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SponsoredTorrentsList' }

  # ===== SHOP / EMOTES =====
  /api/v1/shop/emotes:
    get:
      tags: [shop]
      summary: Emotes approuvées
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/EmotesList' }
  /api/v1/shop/emotes/upload:
    post:
      tags: [shop]
      summary: Upload emote (image — nécessite achat préalable d'un slot)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                image: { type: string, format: binary }
                name: { type: string }
      responses:
        '200': { description: OK }
        '400': { description: 'Aucun achat d''emote disponible' }
  /api/v1/shop/emotes/pending:
    get:
      tags: [shop, admin]
      summary: Emotes en attente (staff only)
      responses:
        '200': { description: OK }
        '403': { description: Staff access required }
  /api/v1/shop/emotes/{id}/approve:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [shop], responses: { '200': { description: OK } } }
  /api/v1/shop/emotes/{id}/reject:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [shop], responses: { '200': { description: OK } } }

  # ===== CHAT =====
  /api/v1/chat/channels:
    get:
      tags: [chat]
      summary: Liste des channels
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/ChatChannel' }
  /api/v1/chat/channels/{cid}/messages:
    parameters: [{ name: cid, in: path, required: true, schema: { type: string }, description: 'slug du channel (ex: general)' }]
    get:
      tags: [chat]
      summary: Messages du channel
      parameters:
        - { name: before, in: query, schema: { type: integer }, description: 'message id (pagination)' }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ChatMessages' }
    post:
      tags: [chat]
      summary: Poste un message
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content: { type: string }
                reply_to_id: { type: integer }
      responses: { '200': { description: OK } }
  /api/v1/chat/channels/{cid}/messages/{mid}:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
    delete: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/channels/{cid}/messages/{mid}/reactions:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
    post: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/channels/{cid}/messages/{mid}/reactions/{emoji}:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
      - { name: emoji, in: path, required: true, schema: { type: string } }
    delete: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/channels/{cid}/read:
    parameters: [{ name: cid, in: path, required: true, schema: { type: string } }]
    post: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations:
    get:
      tags: [chat]
      summary: Liste DM
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { type: object }
  /api/v1/chat/conversations/{cid}:
    parameters: [{ name: cid, in: path, required: true, schema: { type: string } }]
    delete: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations/{cid}/messages:
    parameters: [{ name: cid, in: path, required: true, schema: { type: string } }]
    get:  { tags: [chat], responses: { '200': { description: OK } } }
    post: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations/{cid}/messages/{mid}:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
    delete: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations/{cid}/messages/{mid}/reactions:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
    post: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations/{cid}/messages/{mid}/reactions/{emoji}:
    parameters:
      - { name: cid, in: path, required: true, schema: { type: string } }
      - { name: mid, in: path, required: true, schema: { type: string } }
      - { name: emoji, in: path, required: true, schema: { type: string } }
    delete: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/conversations/{cid}/read:
    parameters: [{ name: cid, in: path, required: true, schema: { type: string } }]
    post: { tags: [chat], responses: { '200': { description: OK } } }
  /api/v1/chat/unread-counts:
    get:
      tags: [chat]
      summary: Compteurs unread (channels + DM)
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/UnreadCounts' }
  /api/v1/chat/upload-image:
    post:
      tags: [chat]
      summary: Upload image dans chat (max 2MB)
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [image]
              properties:
                image: { type: string, format: binary, description: Max 2MB }
      responses:
        '200': { description: OK }
        '413': { description: 'Fichier trop volumineux (max 2MB)' }
  /api/v1/chat/ban:
    post:
      tags: [chat]
      summary: Ban user (mod)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/ChatBanRequest' }
      responses:
        '200':
          description: Banned
          content:
            application/json:
              schema:
                type: object
                properties: { username: { type: string } }
  /api/v1/chat/unban:
    post:
      tags: [chat]
      summary: Unban (mod)
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [username]
              properties: { username: { type: string } }
      responses: { '200': { description: OK } }

  # ===== MISC =====
  /api/v1/site/stats:
    get:
      tags: [misc]
      summary: Stats globales site
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/SiteStats' }
  /api/v1/faq:
    get:
      tags: [misc]
      summary: FAQ groupée par catégorie
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/FAQ' }
  /api/v1/rules:
    get:
      tags: [misc]
      summary: Règles
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Rules' }
  /api/v1/announcement:
    get:
      tags: [misc]
      summary: Bandeau global
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Announcement' }
  /api/v1/leaderboard:
    get:
      tags: [misc]
      summary: Top users
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/LeaderboardEntry' }
  /api/v1/notifications/count:
    get:
      tags: [misc]
      summary: Notifications non lues
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/NotificationsCount' }

  # ===== REQUESTS =====
  /api/v1/requests:
    get:
      tags: [requests]
      summary: Liste demandes
      parameters:
        - { name: page, in: query, schema: { type: integer } }
        - { name: status, in: query, schema: { type: string, enum: [open, fulfilled, closed] } }
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RequestsList' }
    post:
      tags: [requests]
      summary: Crée demande
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestsCreate' }
      responses: { '200': { description: OK } }
  /api/v1/requests/my:
    get:
      tags: [requests]
      summary: Mes demandes
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/RequestsList' }
  /api/v1/requests/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    get:
      tags: [requests]
      summary: Détail demande + responses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  responses: { type: array, items: { type: object } }
  /api/v1/requests/{id}/respond:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post:
      tags: [requests]
      summary: Répondre avec un torrent_id
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RequestsRespond' }
      responses: { '200': { description: OK } }
  /api/v1/requests/{id}/responses/{rid}/accept:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
      - { name: rid, in: path, required: true, schema: { type: integer } }
    post: { tags: [requests], responses: { '200': { description: OK } } }
  /api/v1/requests/{id}/responses/{rid}/reject:
    parameters:
      - { name: id, in: path, required: true, schema: { type: integer } }
      - { name: rid, in: path, required: true, schema: { type: integer } }
    post: { tags: [requests], responses: { '200': { description: OK } } }
  /api/v1/requests/{id}/cancel:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [requests], responses: { '200': { description: OK } } }

  # ===== POLLS (admin + vote) =====
  /api/v1/polls:
    get:
      tags: [polls]
      summary: Sondages actifs
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PollsList' }
  /api/v1/polls/{id}/vote:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post:
      tags: [polls]
      summary: Vote sur sondage (multi-questions/multi-options)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [question_id, option_ids]
              properties:
                question_id: { type: integer }
                option_ids: { type: array, items: { type: integer } }
      responses: { '200': { description: OK } }
  /api/v1/admin/polls:
    post:
      tags: [polls, admin]
      summary: Crée sondage (staff only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [title, questions]
              properties:
                title: { type: string }
                questions:
                  type: array
                  items:
                    type: object
                    required: [question_text, options]
                    properties:
                      question_text: { type: string }
                      options: { type: array, items: { type: string } }
                      is_multiple_choice: { type: boolean }
      responses:
        '200': { description: OK }
        '403': { description: 'Staff access required' }
  /api/v1/admin/polls/{id}:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    delete: { tags: [polls, admin], responses: { '200': { description: OK } } }
  /api/v1/admin/polls/{id}/close:
    parameters: [{ name: id, in: path, required: true, schema: { type: integer } }]
    post: { tags: [polls, admin], summary: Clôture sondage, responses: { '200': { description: OK } } }
